asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1652752042988/work
async-timeout==4.0.2
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1666764741656/work
certifi==2022.9.24
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1666754815561/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1669592246299/work
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1625148501818/work
django-redis==5.2.0
djangorestframework @ file:///home/conda/feedstock_root/build_artifacts/djangorestframework_1663854154474/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
packaging==21.3
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
PyMySQL @ file:///home/conda/feedstock_root/build_artifacts/pymysql_1610208984992/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1665350324128/work
pyparsing==3.0.9
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1667391478166/work
redis==4.3.5
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1661872987712/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1663990453245/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1669259737463/work
